/* title */
#titlearea {
	border: none !important;
}

/* navbar */
.sm-dox {
	background: transparent !important;
}

.sm-dox li a {
	background: transparent !important;
	color: black !important;
}

.sm-dox li a:hover {
	color: #777 !important;
	text-shadow: none !important;
}

/* breadcrumbs */
#main-nav {
	border-bottom: 2px solid #222 !important;
}

.navpath ul {
	background: transparent !important;
	border: none !important;
}

.navpath li {
	background: transparent !important;
	padding: 0 5px !important;
}

.navpath li a {
	font-weight: bold;
	font-size: 12pt;
	font-family: 'Roboto Mono', monospace !important;
}

/* max width and center page */
.header, .contents, #nav-path {
	max-width: 800px !important;
    margin: 0 auto !important;
	background: transparent !important;
}

/* page title */
.header .title {
    font-size: 32px !important;
    line-height: 32px !important;
}

/* remove grey background from lists */
.memItemLeft, .memItemRight, .mdescLeft, .mdescRight {
	background: transparent !important;
}

/* member doc styles */
.memtitle {
	display: none !important;
}

.memitem {
	margin-top: 10px !important;
	margin-bottom: 0 !important;
}

.memname {
	font-family: 'Roboto Mono', monospace !important;
}

.memname tr {
	display: inline-block !important;
}

.memname td {
	font-size: 18px !important;
    font-weight: bold !important;
}

.memname td.memname {
    padding-right: 10px !important;
}

.memproto {
	border: none !important;
    box-shadow: none !important;
    background: transparent !important;
}

.memdoc {
    border: none !important;
    box-shadow: none !important;
    background: transparent !important;
    margin-left: 40px !important;
}

.memdoc p {
	margin: 0 0 15px 0 !important;
}

.memdoc p:last-child {
	margin: 0 !important;
}

dl.todo {
    padding-left: 10px !important;
}

dl.params dt {
	margin-left: 5px;
}

table.params tr {
	border-top: 1px solid #ddd !important;
	border-bottom: 1px solid #ddd !important;
	line-height: 24px !important;
}

table.params tr td {
	padding: 0 5px !important;
}

/* class index */
.ah {
    background: transparent !important;
    color: black !important;
    border: none !important;
    box-shadow: none !important;
    font-size: 18pt !important;
    text-transform: capitalize !important;
}

.classindex tr table {
	margin-left: -15px !important;
}